[Unit]
Description=Consul
After=docker.service
Requires=docker.service
After=etcd2.service
Requires=etcd2.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0
Restart=on-failure
RestartSec=1

Environment=DOCKER_REPO=quay.io/democracyworks/consul-coreos
Environment=VERSION=1.0.2-17.09.0-ce
Environment=CONTAINER=consul

ExecStartPre=-/usr/bin/docker kill ${CONTAINER}
ExecStartPre=-/usr/bin/docker rm ${CONTAINER}
ExecStartPre=/usr/bin/docker pull ${DOCKER_REPO}:${VERSION}

ExecStart=/bin/bash -c 'docker run --name ${CONTAINER} \
  --memory 16G \
  --volume /var/run/docker.sock:/var/run/docker.sock \
  --net=host \
  --env "CONSUL_ALLOW_PRIVILEGED_PORTS=1" \
  ${DOCKER_REPO}:${VERSION} ${COREOS_PRIVATE_IPV4} %m'

ExecStop=/usr/bin/docker stop ${CONTAINER}
ExecStopPost=-/usr/bin/etcdctl rm /consul.io/bootstrap/machines/%m

[X-Fleet]
Conflicts=consul@*.service
